/* Navigation Bar for Resume */
.resume-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

.resume-li {
  float: left;
  
}

.resume-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:"Noto Serif Display", serif;
}

.resume-li a:hover:not(.active) {
  background-color: #111;
}

.name{
  font-family: "EB Garamond", serif;
  font-size:16px;
  float:right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: grey;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  margin-top:45px;
}

.foot-1 {
  font-family: "Noto Serif Display", serif;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.foot-2 {
  font-family: "Noto Serif Display", serif;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.foot-3 {
  font-family: "Noto Serif Display", serif;
  font-size: 10px;
  color: #333;
  font-weight: bold;
}

.resume-body {
font-family: "Noto Serif Display", serif;
margin: 0;
padding: 0;
background-color: #f8f8f8;
}

/* ALL NEW CSS CODE */
body.resume-body {
  background-image: url("ste.jpg");
  font-family: Times New Roman;
}

.img-container{
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.img-container img {
  width: 150px;
  display: block;
  margin: auto;
  border-radius: 10px;
  border: 3px solid grey;
}



.resume-title h2 {
  font-size:35px;
  font-family: 'Playfair Display', serif;
}

.resume-title h4 {
  font-size:25px;
  font-family: Times New Roman;
  font-style: italic;
}

#main-fluid {
  padding-top: 5rem;
  width: 100%;
  max-width: 960px;
  margin: auto;
}

#main-fluid h1 {
  color: #5079b9;
}

.card-glassmorphism {
  background-color: rgba(255,255,255,0.6);
  border-radius: 0px;
  margin-top: 2rem;
  padding: 2rem;
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/
  box-shadow: rgba(70, 70, 93, 1.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  backface-visibility: hidden;
}

.card-glassmorphism h2 {
  color: #1b1b1e;
}

.card-glassmorphism h4 {
  color: Dimgrey;
}

.card-glassmorphism ul {
  list-style-type: square;
  font-family: Times New Roman;
  
}

.grid {
  display: grid;
}

.grid-8-4 {
  grid-template-columns: auto;
}

.row-caption {
  display: flex;
  justify-content: space-between;
}

.row-caption p:last-child {
  font-style: italic;
  color: #666;
}

.divider {
  border-bottom: 2px solid #ddd;
  width: 50%;
  display: block;
  margin-left: 25%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

